body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
    background: #f5f5f5;
}
h1,h2,h3{
    font-family: 'Arimo', sans-serif;
}
h1 {
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 38px;
    margin-bottom: 0px;
}
header {
    box-shadow: 1px 2px 2px #ccc;
    background:#7b91a4;
}
header a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 0px;
    display: inline-block;
    margin-bottom: 15px;
}
.portfolio h2 {
    font-size: 22px;
    color:#191818;
    font-weight: 600;
    position: relative;
    margin-bottom: 0px;
}
.portfolio h2:before {
    content: "";
    display: inline-block;
    height: 4px;
    width: 62px;
    background: #111;
    vertical-align: middle;
    margin-right: 10px;
}
.portfolio__img {
    height:210px;
    vertical-align: top;
    overflow: hidden;
}
.protfolio__desc {
    padding: 10px 0px;
}
.portfolio__single {
    background: #fff;
    margin-top: 35px;
    box-shadow: 2px 2px 2px #ccc;
    padding: 25px;
    position: relative;
    margin-bottom: 40px;
}
.portfolio__single  h3 {
    font-size: 16px !important;
    margin-top:0px !important;
    text-transform: uppercase;
    font-weight: 600;
    color:#191818;
}
.portfolio__single p {
    font-size: 12px;
    color: #868380;
    line-height: 20px;
    margin-top: 4px !important;
    display: inline-block;
}
.github-logo {
    position: absolute;
    right: -7px;
    width: 44px;
    top: -21px;
}
.github-logo img{
    width:40px;
}
.single-cont {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
}
.single-cont img{
    width: 100%;
}
footer {
    margin-top: 67px;
    background:#292929;
    padding: 20px 0px;
}
footer h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
footer h3:before {
    content: "";
    display: inline-block;
    height: 4px;
    width:30px;
    background: #fff;
    vertical-align: middle;
    margin-right: 10px;
}
footer p {
    font-size: 12px;
    color:#f3f1f1;
    width: 60%;
    margin-top: 0px;
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 38px;
}
.box-inline{
    float: none !important;
    display: inline-block;
    width: 32.3333333% !important;
    margin-right: auto;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

@media screen and (max-width:600px){
 
    .portfolio__img{
        height: 130px;
    }
    
    h1{
        font-size: 16px;
        text-align: center;
    }
    .box-inline{
        width: 100% !important;
    }
  
}